@model PizzeriaInForno.Models.Utente

@{
    ViewBag.Title = "Details";
}

<h2 class="mt-4 mb-2 fst-italic">Dettagli</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruolo)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Ruolo)
        </dd>

    </dl>
</div>

<div>
    <p class="btn btn-light border-1 border-dark mb-0">
        <a class="text-decoration-none text-danger fw-bold" href="/Utente/Index">Vai alla lista Utenti</a>
    </p>
</div>
