@model IEnumerable<PizzeriaInForno.Models.Utente>

@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between align-items-center my-4">
    <h2 class="fst-italic">Lista Utenti</h2>
    <p class="btn btn-danger border-1 border-dark">
        <a class="text-decoration-none text-white fw-bold" href="/Utente/Create">Crea Utente</a>
    </p>
</div>
<table class="table text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ruolo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ruolo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUtente }, new { @class = "btn btn-light text-danger fw-bold border-1 border-dark" }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUtente }, new { @class = "btn btn-danger text-white fw-bold border-1 border-dark" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUtente }, new { @class = "btn btn-light text-danger fw-bold border-1 border-dark" })
        </td>
    </tr>
}

</table>
