@model PizzeriaInForno.Models.Articolo

@{
    ViewBag.Title = "Details";
}

<h2 class="mt-4 mb-2 fst-italic">Dettagli</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd class="mb-3">
            <img class="rounded-circle" src="@Url.Content("~/Content/img/" + Model.Foto)" alt="@Model.Nome" width="200px" height="200px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoConsegna)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.TempoConsegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>

        <select id="ingredientiMultiSelect" name="IngredientiSelezionati" multiple="multiple" class="w-100 col-md-10">
            @foreach (var ingrediente in Model.Ingredient)
            {
                <option value="@ingrediente.IDIngredient">@ingrediente.Nome</option>
            }
        </select>
        @Html.ValidationMessageFor(model => Model.IngredientiSelezionati, "", new { @class = "text-danger" })

    </dl>
</div>

<div>
    <p class="btn btn-light border-1 border-dark mb-0">
        <a class="text-decoration-none text-danger fw-bold" href="/Articolo/Index">Vai alla lista Prodotti</a>
    </p>
</div>
