@model IEnumerable<PizzeriaInForno.Models.Articolo>

@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Foto)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Nome)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Prezzo)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.TempoConsegna)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Ingredient)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model) {
    <tr>
      <td>
        <img src="@Url.Content("~/Content/img/" + item.Foto)" alt="@item.Nome" width="200px" height="200px" />
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Nome)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Prezzo)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TempoConsegna)
      </td>
      <td>
          @foreach (var ingrediente in item.Ingredient)
          {
              <div>@Html.Raw(@ingrediente.Nome)</div>
          }
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IDArticolo }) |
        @Html.ActionLink("Details", "Details", new { id = item.IDArticolo }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IDArticolo })
      </td>
    </tr>
  }

</table>
