@model IEnumerable<PizzeriaInForno.Models.Articolo>

@{
    ViewBag.Title = "Menu";
}

<h2 class="my-4 fst-italic text-center">Menu</h2>

<div class="container">
    <strong>@TempData["messaggio"]</strong>
    <div class="row">
        @foreach (var articolo in Model)
        {
            <div class="col-3">
                <div class="card mb-5 card-group">
                    <img src="~/Content/img/@articolo.Foto" class="card-img-top object-fit-cover" height="296px" alt="@articolo.Nome">
                    <div class="card-body h-100">
                        <h5 class="card-title">@articolo.Nome</h5>
                        <p class="card-text">
                            @foreach (var ingrediente in articolo.Ingredient)
                            {
                                <span class="fs-7">@Html.Raw(@ingrediente.Nome)</span>
                            }
                        </p>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">@articolo.TempoConsegna Min.</p>
                            <p class="card-text">@articolo.Prezzo €</p>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-light border-1 border-dark text-decoration-none text-danger fw-bold" href="@Url.Action("AggiungiArticolo", "Carrello", new { id = articolo.IDArticolo })">
                                Aggiungi al Carrello
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>